.primary-color {
  color: #000537;
}

.primary-bg {
  background-color: #000537;
}

.primary-pink {
color: #EC4899;
}

.secondary-color {
  color: #64748B;
  border-color: #F2F2F2;
}
.secondary-bg {
  background-color: #64748B;
}

.highlight {
  display: flex;
  position: relative;
  max-width: 1000px;
  margin-left: 10px;
  margin-right: 10px;
}
